.page {
  max-width: 1280px;
  min-width: 320px;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #000000;
  margin: 0 auto;
  padding: 0 199px;
  box-sizing: border-box;
}

@media (max-width: 1050px) {
  .page {
    padding: 0 100px;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 0 48px;
  }
}

@media (max-width: 425px) {
  .page {
    padding: 0;
  }
}
