.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.333;
  display: inline;
  color: #FFF;
  margin: 0;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.333;
    word-wrap: break-word;
  }
}
